/* media qyery */
@media(min-width:1024px) and (max-width:1400px) {
    header .menu_side, .song_side{
         width:35%;
    
    }
    header .song_side{
        width:65%;
    }
    header .master_play .icon{
        display:flex;

    }
    }

    @media(min-width:768px) and (max-width:1024px) {
        header .menu_side, .song_side{
             width:45%;
        
        }
        header .song_side{
            width:55%;
        }
        header .master_play .icon{
            display:flex;
            
        }
        header .song_side .content{
            padding-top: 5px;
            height:35%;
        }
        header .song_side .content .buttons {
            margin-top: 0px;
        }
        header .song_side nav ul li {
            position: relative;
            list-style-type: none;
            font-size: 12px;
            color: #4c5262;
            margin-right: 19px;
            cursor: pointer;
            transition: .3s linear;
        }
        header .song_side nav ul li {
            position: relative;
            list-style-type: none;
            font-size: 12px;
            color: #4c5262;
            margin-right: 19px;
            cursor: pointer;
            transition: .3s linear;
        }
        header .song_side nav .search .bi {
            font-size: 10px;
            padding: 3px 0px 0px 10px;
        }
        header .song_side nav .search .bi {
            font-size: 10px;
            padding: 3px 0px 0px 10px;
        }
        }

        @media(min-width:425px) and (max-width:768px) {
            header .menu_side, .song_side{
                 width:0%;
                 
            
            }
            header .song_side{
                width:100%;
            }
            header .song_side nav ul li {
                font-size:9px;
                margin-right:10px;
        }
        header .song_side .content {
             height:30%;
             padding-top:0;

        }
        header .song_side .content h1 {
            font-size: 21px;
            font-weight: 400;
        }
        header .song_side .content p {
            font-size:13px;
            
        }
        header .song_side .popular_song{
            margin-top:15px;
        }
    }
 @media(min-width:425px) and (max-width:768px) {
            header .menu_side, .song_side{
                 width:0%;
                 
            
            }
            header .song_side{
                width:100%;
            }
}
